@font-face {
    font-family: 'Aleo';
    src: url(/test/src/fonts/Aleo-Font/Webfont-Kit/Regular/aleo-regular-webfont.eot);
    src: url(/test/src/fonts/Aleo-Font/Webfont-Kit/Regular/aleo-regular-webfont.svg);
    src: url(/test/src/fonts/Aleo-Font/Webfont-Kit/Regular/aleo-regular-webfont.ttf);
    src: url(/test/src/fonts/Aleo-Font/Webfont-Kit/Regular/aleo-regular-webfont.woff);
    src: url(/test/src/fonts/Aleo-Font/Webfont-Kit/Regular/aleo-regular-webfont.woff2);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'JosefineSans';
    src: url();
}