.header {
    background-color: $main;
    width: 100%;
    position: fixed;
    padding: 30px 0;

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    }

    &__navigation {
        font-family: 'Aleo';
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px 0;
        font-size: 14px;
        position: absolute;
        right: 0;
        color: #fff;
        text-transform: uppercase;
    .navigation__item {
            margin-left: 43px;
            :visited {
                color: #fff;
            }
            :active {
                color: #fff;
            }
        }
    }
    }